@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefina";
  src: url("./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@layer base {
  html {
    font-family: "josefina";
    font-display: auto;
    scroll-behavior: smooth;
  }
}
